# OTEL
OTEL_TRACES_EXPORTER=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=
OTEL_NODE_RESOURCE_DETECTORS=
OTEL_NODE_ENABLED_INSTRUMENTATIONS=

#DB
DATABASE_URL=
DB_PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

#NODE
NODE_ENV=
PORT=